<h4>Личный кабинет</h4>

<form action="/admin" method="post">
  <div class="form-group">
    <label for="exampleFormControlSelect1">Что вы хотите посмотреть?</label>
    <select class="form-control" name="datatype" id="exampleFormControlSelect1">
      <option>Записи в Barber Shop</option>
      <option>Обращения клиентов</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">ОК</button>
</form>